.hearder_left {
  width: 310px;
  height: 140px;
  background-color: #e7ece6;
  border-radius: 15px;
  overflow: hidden;
  float: left;
}
.hearder_left .hearder_left_i {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #cccccc;
  float: left;
  margin-top: 17px;
  margin-left: 20px;
}
.hearder_left .hearder_left_i i {
  font-size: 60px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  color: #5da5d8;
}
.hearder_left p:nth-child(2) {
  position: relative;
  top: 23px;
}
.hearder_left p:nth-child(2) span {
  font-size: 30px;
  color: #4a4804;
}
.hearder_left p:nth-child(3) {
  position: relative;
  top: 19px;
}
.hearder_left p:nth-child(3) span {
  font-size: 30px;
  color: #4a4804;
}
.hearder_center {
  width: 310px;
  height: 140px;
  background-color: #e7ece6;
  float: left;
  border-radius: 15px;
  margin-left: 30px;
}
.hearder_center .hearder_center_i {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #cccccc;
  float: left;
  margin-top: 17px;
  margin-left: 20px;
}
.hearder_center .hearder_center_i i {
  font-size: 60px;
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  color: #5da5d8;
}
.hearder_center p:nth-child(2) {
  position: relative;
  top: 23px;
}
.hearder_center p:nth-child(2) span {
  font-size: 30px;
  color: #4a4804;
}
.hearder_center p:nth-child(3) {
  position: relative;
  top: 19px;
}
.hearder_center p:nth-child(3) span {
  font-size: 30px;
  color: #4a4804;
}
.hearder_right {
  width: 310px;
  height: 140px;
  background-color: #e7ece6;
  float: left;
  border-radius: 15px;
  margin-left: 30px;
}
.hearder_right .hearder_right_i {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #cccccc;
  float: left;
  margin-top: 17px;
  margin-left: 20px;
}
.hearder_right .hearder_right_i i {
  font-size: 60px;
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  color: #5da5d8;
}
.hearder_right p:nth-child(2) {
  position: relative;
  top: 23px;
}
.hearder_right p:nth-child(2) span {
  font-size: 30px;
  color: #4a4804;
}
.hearder_right p:nth-child(3) {
  position: relative;
  top: 19px;
}
.hearder_right p:nth-child(3) span {
  font-size: 30px;
  color: #4a4804;
}
