.left {
  background-color: #fffff8;
  height: 100%;
  width: 100%;
}
.left_button {
  position: absolute;
  left: 189px;
  top: 200px;
  cursor: pointer;
}
.title_right {
  background-color: #fffff8;
  border: none;
}
li:nth-child(1) {
  border-top: 1px solid #b1b3b8;
}
li:last-child {
  border-bottom: 1px solid #b1b3b8;
}
li {
  text-align: left;
  width: 100%;
  padding: 0px;
  font-weight: 100;
  border-bottom: 2px solid #37b0ff;
  border-top: 1px solid #b1b3b8;
}
a {
  color: #37b0ff;
  display: block;
  width: 100%;
  font-weight: 100;
}
span {
  font-weight: 700;
  margin-left: 3px;
  font-size: 15px;
}
li:focus {
  color: #fff;
}
li:hover {
  color: #fbb706;
}
a:hover {
  color: #fbb706;
}
a:hover i {
  color: #18b294;
}
a:focus {
  color: #fbb706;
}
a:focus i {
  color: #18b294;
}
i {
  font-size: 22px;
  color: #37b0ff;
}
